{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/posts_detail.css">
{% endblock %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
    <div class="post-container">
      <h1 class="post-title">{{ article.title }}</h1>
      <div class="post-image">
          <img src="path-to-image.jpg" alt="posts image">
      </div>
      <div class="post-content">
          <p class="post-date">{{ article.date.date() }}</p>
          <p class="post-text" id="post-text">{{ article.text|safe }}</p>
          <a href="/posts/{{ article.id }}/update" class="btn btn-success">Edit</a>
      </div>
    </div>

    <script src="../static/js/post_detail.js"></script>

    <!-- <div class="container mt-5">
    <h1>{{ article.title }}</h1>
    <div class="alert alert-info">
        <p>{{ article.text|safe }}</p>
        <p><b>Date: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Delete</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success">Edit</a>
    </div>
</div> -->
{% endblock %}