{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="search.scss">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
{% endblock %}

{% block title %}
Search news
{% endblock %}

{% block body %}
{% if articles|length > 0 %}

    <form class="search-form">
  <input type="search" value="" placeholder="Search" class="search-input">
  <button type="submit" class="search-button">
    <svg class="submit-button">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
    </svg>
  </button>
  <div class="search-option">
    <div>
      <input name="type" type="radio" value="type-users" id="type-users">
      <label for="type-users">
        <svg class="edit-pen-title">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#user"></use>
        </svg>
        <span>Users</span>
      </label>
    </div>

    <div>
      <input name="type" type="radio" value="type-posts" id="type-posts">
      <label for="type-posts">
        <svg class="edit-pen-title">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#post"></use>
        </svg>
        <span>Posts</span>
      </label>
    </div>
    <div>
      <input name="type" type="radio" value="type-images" id="type-images">
      <label for="type-images">
        <svg class="edit-pen-title">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#images"></use>
        </svg>
        <span>Images</span>
      </label>
    </div>
    <div>
      <input name="type" type="radio" value="type-special" id="type-special" checked="">
      <label for="type-special">
        <svg class="edit-pen-title">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#special"></use>
        </svg>
        <span>Special</span>
      </label>
    </div>
  </div>
</form>
    <div class="album py-5 bg-light">
    <div class="container">
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              {% for i in range(6) %}
                  <div class="col">
                      <div class="card shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body">
                              {% if  articles[i].intro|length > 92 %}
                                  <h3 class="card-text">{{ articles[i].title }}</h3>
                                  <p class="card-text">{{ articles[i].intro[:81] + "..." }}</p>
                                  {% else %}
                                  <h3 class="card-text">{{ articles[i].title }}</h3>
                                  <p class="card-text">{{ articles[i].intro}}</p>
                              {% endif %}
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                      <a href="/posts/{{ articles[i].id }}" class="btn btn-warning">Open</a>
                                      <!-- вставить кнопку лайков и рядом отображение их количества -->
                                  </div>
                                  <small class="text-muted">{{ articles[i].date.date() }}</small>
                              </div>
                        </div>
                    </div>
                </div>
              {% endfor %}
          </div>
    </div>
    </div>
    {% else %}
        <p>We don't have articles on the site yet.</p>
    {% endif %}
{% endblock %}